<div class="container">
    <mat-accordion class="!min-h-fit !block !pb-2">
        <mat-expansion-panel
            hideToggle
            class="remove-mat-expansion-panel-padding !border-none !shadow-none"
        >
            <mat-expansion-panel-header class="!min-h-[60px] !p-0">
                <mat-panel-title>
                    <h2 class="mat-display-medium">
                        {{ dropListTitle }}
                    </h2>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="expansion-actions p-2 space-x-2">
                    <button
                        mat-mini-fab
                        class="!bg-red-500/80 !text-white"
                        (click)="openDialogDeleteKanbanList(kanbanList)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button
                        mat-mini-fab
                        (click)="openDialogUpdateKanbanList(kanbanList)"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>

    <div
        cdkDropList
        [cdkDropListData]="kanbanItems | dropItemSort"
        (cdkDropListDropped)="drop($event)"
        class="list"
    >
        @for (item of kanbanItems; track item.title) {

        <mat-card
            appearance="raised"
            cdkDrag
            [cdkDragDisabled]="isUpdated"
            class="box"
            (click)="openDropItemDialog(item)"
        >
            <div class="example-handle" cdkDragHandle>
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path
                        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
                    ></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>

            <mat-card-header class="!pt-0">
                {{ item.title | truncateText : 70 }}
            </mat-card-header>
            <mat-card-content class="kanban-item__content">
                @if(item.deadline) {
                <mat-chip matTooltip="Deadline">{{
                    item.deadline | date : "mediumDate"
                }}</mat-chip>
                }
            </mat-card-content>
        </mat-card>

        }
    </div>
</div>
