<div class="container">
    <mat-accordion class="!min-h-fit !block !pb-2">
        <mat-expansion-panel
            hideToggle
            class="remove-mat-expansion-panel-padding !border-none !shadow-none"
        >
            <mat-expansion-panel-header class="!min-h-[60px] !p-0">
                <mat-panel-title>
                    <h2 class="mat-display-medium">
                        {{ dropListTitle }}
                    </h2>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="expansion-actions p-2">
                    <button
                        mat-mini-fab
                        class="!bg-red-500/80 !text-white"
                        (click)="openDialogDeleteKanbanList(kanbanList)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>

    <div
        cdkDropList
        [cdkDropListData]="kanbanItems | dropItemSort"
        (cdkDropListDropped)="drop($event)"
        class="list"
    >
        @for (item of kanbanItems; track item.title) {

        <mat-card
            appearance="raised"
            cdkDrag
            [cdkDragDisabled]="isUpdated"
            [cdkDragStartDelay]="1000"
            (mousedown)="onMouseDown($event)"
            (mouseup)="onMouseUp($event)"
            class="box"
        >
            <section class="box-content">
                <section class="kanban-item__header">
                    <mat-card-header class="!pt-0">
                        {{ item.title }}
                    </mat-card-header>

                    <mat-card-actions class="kanban-item__actions">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="menu"
                            aria-label="More actions"
                        >
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openDialog(item)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                            <button
                                mat-menu-item
                                (click)="openDialogUpdate(item)"
                            >
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                        </mat-menu>
                    </mat-card-actions>
                </section>
                @if (item.deadline || item.description) {
                <mat-card-content class="kanban-item__content">
                    @if(item.deadline) {
                    <mat-chip matTooltip="Deadline">{{
                        item.deadline | date : "mediumDate"
                    }}</mat-chip>
                    } @if(item.description) {
                    <mat-accordion>
                        <mat-expansion-panel
                            class="!mt-4"
                            (opened)="panelOpenState.set(true)"
                            (closed)="panelOpenState.set(false)"
                        >
                            <mat-expansion-panel-header>
                                @if(!panelOpenState() ) {
                                <mat-panel-title>
                                    {{ item.description | truncateText : 20 }}
                                </mat-panel-title>
                                }
                            </mat-expansion-panel-header>

                            <p>{{ item.description }}</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                    }
                </mat-card-content>
                }
            </section>
        </mat-card>

        }
    </div>
</div>
