<div class="container">
    <h2 class="mat-display-medium">
        {{ dropListTitle }}
    </h2>

    <div
        cdkDropList
        [cdkDropListData]="data | dropItemSort"
        (cdkDropListDropped)="drop($event)"
        class="list"
    >
        @for (item of data; track item.title) {

        <mat-card
            appearance="raised"
            cdkDrag
            [cdkDragDisabled]="isUpdated"
            class="box"
        >
            <mat-card-actions class="kanban-item__actions">
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="More actions"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openDialog(item)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                    <button mat-menu-item (click)="openDialogUpdate(item)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                </mat-menu>
            </mat-card-actions>
            <mat-card-header class="">
                {{ item.title }}
            </mat-card-header>
            <mat-card-content class="kanban-item__content">
                @if(item.deadline) {
                <mat-chip matTooltip="Deadline">{{
                    item.deadline | date : "mediumDate"
                }}</mat-chip>
                } @if(item.description) {

                <mat-expansion-panel
                    class="!mt-4"
                    (opened)="panelOpenState.set(true)"
                    (closed)="panelOpenState.set(false)"
                >
                    <mat-expansion-panel-header>
                        @if(!panelOpenState() ) {
                        <mat-panel-title>
                            {{ item.description | truncateText : 20 }}
                        </mat-panel-title>
                        }
                    </mat-expansion-panel-header>

                    <p>{{ item.description }}</p>
                </mat-expansion-panel>
                }
            </mat-card-content>
        </mat-card>

        }
    </div>
</div>
