<h2 mat-dialog-title>Add task</h2>
<form [formGroup]="form" (ngSubmit)="onCreateKanbanItem()">
    <mat-dialog-content>
        <mat-form-field class="w-full">
            <mat-label>Task</mat-label>
            <input #titleInput matInput formControlName="title" />
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            mat-button
            (click)="onNoClick()"
            [disabled]="isDisabling()"
            type="button"
        >
            Close
        </button>
        <button
            mat-button
            [disabled]="isDisabling()"
            type="submit"
        >
            Ok
        </button>
    </mat-dialog-actions>
</form>
