<h2 mat-dialog-title>Add task</h2>
<form [formGroup]="form" (ngSubmit)="onCreateKanbanItem()">
    <mat-dialog-content>
        <mat-form-field class="w-full">
            <mat-label>Title</mat-label>
            <input #titleInput matInput formControlName="title" />
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Description</mat-label>
            <textarea
                #descriptionInput
                matInput
                formControlName="description"
                class="min-h-44"
            ></textarea>
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Deadline</mat-label>
            <input
                matInput
                [matDatepicker]="picker"
                formControlName="deadline"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            mat-button
            (click)="onNoClick()"
            [disabled]="isDisabling()"
            type="button"
        >
            Close
        </button>
        <button mat-button [disabled]="isDisabling()" type="submit">Ok</button>
    </mat-dialog-actions>
</form>
