<mat-drawer-container class="container" [class.active]="isOpen()">
    <mat-drawer
        #drawer
        mode="side"
        [opened]="isOpen()"
        (openedChange)="onOpenedChangDrawer($event)"
        class="!min-w-full md:!min-w-[360px] px-6 pb-2"
    >
        <section class="mat-drawer_main">
            <div class="mat-drawer_header">
                <button
                    mat-flat-button
                    aria-label="Example icon-button with menu icon"
                    (click)="drawer.close()"
                >
                    Close
                </button>
            </div>
            <div></div>
            <button mat-flat-button class="logout-btn" (click)="onLogout()">
                Logout
            </button>
        </section>
    </mat-drawer>
    <mat-drawer-content class="relative">
        <nav class="toolbar !sticky !top-0 !left-0 !h-fit !z-50 min-w-full">
            <mat-toolbar class="!px-6 !py-2">
                @if (!isOpen()) {
                <button
                    mat-icon-button
                    class="icon"
                    aria-label="Example icon-button with menu icon"
                    (click)="drawer.open()"
                >
                    <mat-icon>menu</mat-icon>
                </button>
                }

                <span class="toolbar-spacer"></span>
                <button
                    matTooltip="Add task & list"
                    mat-icon-button
                    aria-label="More actions"
                    (click)="toggleTheme()"
                >
                    <mat-icon>{{
                        themeService.theme ? "light_mode" : "dark_mode"
                    }}</mat-icon>
                </button>
                <button
                    matTooltip="Add task & list"
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="More actions"
                >
                    <mat-icon>add_circle</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openKanbanItemDialog()">
                        <mat-icon>add_box</mat-icon>
                        <span>Add task</span>
                    </button>
                    <button mat-menu-item (click)="openKanbanListDialog()">
                        <mat-icon>library_add</mat-icon>
                        <span>Add list</span>
                    </button>
                </mat-menu>
            </mat-toolbar>
        </nav>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-drawer-content>
</mat-drawer-container>
