.toolbar-spacer {
    flex: 1 1 auto;
}

main {
    height: 100dvh;
    overflow: auto;
}

:host,
mat-drawer-container {
    min-width: 100%;
}

.mat-drawer_main {
    display: grid;
    grid-template-rows: 64px 1fr 48px;
    min-height: 100%;
}
.mat-drawer_header {
    display: flex;
    justify-content: end;
    align-items: center;
}

mat-drawer,
mat-toolbar {
    background-color: var(--sys-surface-container);
}

.logout-btn {
    background-color: var(--sys-error) !important;
}