:root.dark {
    --sys-background: #15130c;
    --sys-on-background: #e8e2d4;
    --sys-surface: #15130c;
    --sys-surface-dim: #15130c;
    --sys-surface-bright: #3c3930;
    --sys-surface-container-lowest: #100e07;
    --sys-surface-container-low: #1e1c13;
    --sys-surface-container: #222017;
    --sys-surface-container-high: #2c2a21;
    --sys-surface-container-highest: #37352b;
    --sys-on-surface: #e8e2d4;
    --sys-surface-variant: #4b4739;
    --sys-on-surface-variant: #cdc6b4;
    --sys-inverse-surface: #e8e2d4;
    --sys-inverse-on-surface: #333027;
    --sys-outline: #969080;
    --sys-outline-variant: #4b4739;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #dcc66e;
    --sys-primary: #dcc66e;
    --sys-on-primary: #3a3000;
    --sys-primary-container: #544600;
    --sys-on-primary-container: #f9e287;
    --sys-inverse-primary: #6e5d0e;
    --sys-secondary: #ddc66e;
    --sys-on-secondary: #3a3000;
    --sys-secondary-container: #544600;
    --sys-on-secondary-container: #fae287;
    --sys-tertiary: #95d5a7;
    --sys-on-tertiary: #00391d;
    --sys-tertiary-container: #10512e;
    --sys-on-tertiary-container: #b1f1c2;
    --sys-error: #ffb4ab;
    --sys-on-error: #561e19;
    --sys-error-container: #73342d;
    --sys-on-error-container: #ffdad5;
    --sys-neutral: #7b776c;
    --sys-neutral-variant: #7c7768;
    --sys-primary-fixed: #f9e287;
    --sys-primary-fixed-dim: #dcc66e;
    --sys-on-primary-fixed: #221b00;
    --sys-on-primary-fixed-variant: #544600;
    --sys-secondary-fixed: #fae287;
    --sys-secondary-fixed-dim: #ddc66e;
    --sys-on-secondary-fixed: #221b00;
    --sys-on-secondary-fixed-variant: #544600;
    --sys-tertiary-fixed: #b1f1c2;
    --sys-tertiary-fixed-dim: #95d5a7;
    --sys-on-tertiary-fixed: #00210e;
    --sys-on-tertiary-fixed-variant: #10512e;
    --sys-inverse-secondary: #6f5d0e;
    --sys-inverse-tertiary: #2d6a44;
    --sys-inverse-error: #904a43;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}
