:root.dark {
    --sys-primary: rgb(199 198 198);
    --sys-surface-tint: rgb(199 198 198);
    --sys-on-primary: rgb(48 48 49);
    --sys-primary-container: rgb(106 106 106);
    --sys-on-primary-container: rgb(255 255 255);
    --sys-secondary: rgb(200 198 197);
    --sys-on-secondary: rgb(48 48 48);
    --sys-secondary-container: rgb(62 61 61);
    --sys-on-secondary-container: rgb(211 208 208);
    --sys-tertiary: rgb(203 197 199);
    --sys-on-tertiary: rgb(50 48 49);
    --sys-tertiary-container: rgb(109 105 107);
    --sys-on-tertiary-container: rgb(255 255 255);
    --sys-error: rgb(255 180 171);
    --sys-on-error: rgb(105 0 5);
    --sys-error-container: rgb(147 0 10);
    --sys-on-error-container: rgb(255 218 214);
    --sys-background: rgb(20 19 19);
    --sys-on-background: rgb(229 226 225);
    --sys-surface: rgb(20 19 19);
    --sys-on-surface: rgb(229 226 225);
    --sys-surface-variant: rgb(68 71 72);
    --sys-on-surface-variant: rgb(196 199 199);
    --sys-outline: rgb(142 145 146);
    --sys-outline-variant: rgb(68 71 72);
    --sys-shadow: rgb(0 0 0);
    --sys-scrim: rgb(0 0 0);
    --sys-inverse-surface: rgb(229 226 225);
    --sys-inverse-on-surface: rgb(49 48 48);
    --sys-inverse-primary: rgb(94 94 94);
    --sys-primary-fixed: rgb(227 226 226);
    --sys-on-primary-fixed: rgb(27 28 28);
    --sys-primary-fixed-dim: rgb(199 198 198);
    --sys-on-primary-fixed-variant: rgb(70 71 71);
    --sys-secondary-fixed: rgb(229 226 225);
    --sys-on-secondary-fixed: rgb(27 28 28);
    --sys-secondary-fixed-dim: rgb(200 198 197);
    --sys-on-secondary-fixed-variant: rgb(71 71 70);
    --sys-tertiary-fixed: rgb(231 225 227);
    --sys-on-tertiary-fixed: rgb(29 27 29);
    --sys-tertiary-fixed-dim: rgb(203 197 199);
    --sys-on-tertiary-fixed-variant: rgb(73 70 72);
    --sys-surface-dim: rgb(20 19 19);
    --sys-surface-bright: rgb(58 57 57);
    --sys-surface-container-lowest: rgb(14 14 14);
    --sys-surface-container-low: rgb(28 27 27);
    --sys-surface-container: rgb(32 31 31);
    --sys-surface-container-high: rgb(42 42 42);
    --sys-surface-container-highest: rgb(53 52 52);
    --extended-success: rgb(81 231 123);
    --extended-success-on: rgb(0 57 21);
    --extended-success-container: rgb(11 188 86);
    --extended-success-on-container: rgb(0 30 8);
    --extended-warning: rgb(255 219 139);
    --extended-warning-on: rgb(63 46 0);
    --extended-warning-container: rgb(227 173 0);
    --extended-warning-on-container: rgb(54 39 0);
}
