:root,
:host {
    --sys-background: #fff9ec;
    --sys-on-background: #1e1c13;
    --sys-surface: #fff9ec;
    --sys-surface-dim: #dfd9cc;
    --sys-surface-bright: #fff9ec;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #f9f3e5;
    --sys-surface-container: #f4eddf;
    --sys-surface-container-high: #eee8da;
    --sys-surface-container-highest: #e8e2d4;
    --sys-on-surface: #1e1c13;
    --sys-surface-variant: #e9e2d0;
    --sys-on-surface-variant: #4b4739;
    --sys-inverse-surface: #333027;
    --sys-inverse-on-surface: #f7f0e2;
    --sys-outline: #7c7768;
    --sys-outline-variant: #cdc6b4;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #6e5d0e;
    --sys-primary: #6e5d0e;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #f9e287;
    --sys-on-primary-container: #221b00;
    --sys-inverse-primary: #dcc66e;
    --sys-secondary: #6f5d0e;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #fae287;
    --sys-on-secondary-container: #221b00;
    --sys-tertiary: #2d6a44;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #b1f1c2;
    --sys-on-tertiary-container: #00210e;
    --sys-error: #904a43;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdad5;
    --sys-on-error-container: #3b0907;
    --sys-neutral: #7b776c;
    --sys-neutral-variant: #7c7768;
    --sys-primary-fixed: #f9e287;
    --sys-primary-fixed-dim: #dcc66e;
    --sys-on-primary-fixed: #221b00;
    --sys-on-primary-fixed-variant: #544600;
    --sys-secondary-fixed: #fae287;
    --sys-secondary-fixed-dim: #ddc66e;
    --sys-on-secondary-fixed: #221b00;
    --sys-on-secondary-fixed-variant: #544600;
    --sys-tertiary-fixed: #b1f1c2;
    --sys-tertiary-fixed-dim: #95d5a7;
    --sys-on-tertiary-fixed: #00210e;
    --sys-on-tertiary-fixed-variant: #10512e;
    --sys-inverse-secondary: #ddc66e;
    --sys-inverse-tertiary: #95d5a7;
    --sys-inverse-error: #ffb4ab;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}
