@use "sass:map";
@use "@angular/material" as mat;

// Define the primary and tertiary palettes as per your requirements
$kanban-theme: mat.define-theme(
    (
        color: (
            use-system-variables: true,
        ),
        typography: (
            use-system-variables: true,
        ),
    )
);
