:host {
    display: flex;
    padding: 25px;
    max-width: 1200px;
    margin: 0 auto;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: grid;
}
.mat-mdc-card-content {
    padding-top: 16px;
}