// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./styles/m3-theme" as m3; // Ensure the path is correct
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --success-color: #17c964; // Main success color
    --warning-color: #f5a524; // Main warning color
    --error-color: #f31260; // Main error color
    --dark-color: #000;
    --white-color: #fff;
}

html {
    // Apply the light theme by default
    @include mat.core-theme(m3.$kanban-theme);
    @include mat.all-component-themes(m3.$kanban-theme);
    @include mat.system-level-colors(m3.$kanban-theme);
    @include mat.system-level-typography(m3.$kanban-theme);
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.green-snackbar {
    .mdc-snackbar__surface {
        background-color: var(--success-color) !important;
    }
    .mdc-snackbar__label {
        color: var(--dark-color) !important;
    }
}
.green-snackbar button {
    background-color: var(--success-color);
    color: var(--dark-color) !important;
    border: none;
}
.red-snackbar {
    .mdc-snackbar__surface {
        background-color: var(--error-color) !important;
    }
    .mdc-snackbar__label {
        color: var(--white-color) !important;
    }
}
.red-snackbar button {
    background-color: var(--error-color);
    color: var(--white-color) !important;
    border: none;
}

.warning-snackbar {
    .mdc-snackbar__surface {
        background-color: var(--warning-color) !important;
    }
    .mdc-snackbar__label {
        color: var(--dark-color) !important;
    }
}
.warning-snackbar button {
    background-color: var(--warning-color);
    color: var(--dark-color) !important;
    border: none;
}
