// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./styles/m3-theme" as m3; // Ensure the path is correct
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "./styles/mat-dialog.scss";
@import "./styles//snackbar.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @include mat.core-theme(m3.$kanban-theme);
    @include mat.all-component-themes(m3.$kanban-theme);
    @include mat.system-level-colors(m3.$kanban-theme);
    @include mat.system-level-typography(m3.$kanban-theme);
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

.mat-display-medium {
    font-size: 28px;
    margin: 32px 0 16px;
    font-weight: 400;
}

.remove-mat-expansion-panel-padding
    .mat-expansion-panel-content
    .mat-expansion-panel-body {
    padding: 0 !important;
}

.pulse {
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
